force-app/main/default/flows/Appointment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_ApptHeader</name>
        <label>Assign ApptHeader</label>
        <locationX>1339</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ApptHeader</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApptHeaderText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_arrived</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Piece_Count</name>
        <label>Copy 1 of Set Piece Count</label>
        <locationX>204</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Pre_Packed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Uprights_Packed_On_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Layflats_Packed_On_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Magnums_Packed_On_Site</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Piece_Count</name>
        <label>Set Piece Count</label>
        <locationX>1700</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Packed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Uprights_Packed_On_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Layflats_Packed_On_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Magnums_Packed_On_Site</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Concierge</name>
        <choiceText>Concierge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concierge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doorman</name>
        <choiceText>Doorman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doorman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employee_store_restaurant</name>
        <choiceText>Employee (store/restaurant)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee (store/restaurant)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>RedoAppointment</name>
        <choiceText>Redo Appointment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RedoArrival</name>
        <choiceText>Redo Arrival</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RedoDeparture</name>
        <choiceText>Redo Departure</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Already_arrived</name>
        <label>Already arrived?</label>
        <locationX>1339</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Arrival</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yet Arrived</defaultConnectorLabel>
        <rules>
            <name>Has_Already_Arrived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordArrival</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_completed_appt</targetReference>
            </connector>
            <label>Has Already Arrived</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_completed_appt</name>
        <label>Already completed appt</label>
        <locationX>1339</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>PickUp_Piece_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go to complete appointment</defaultConnectorLabel>
        <rules>
            <name>Go_to_Departure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordApptStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_already_departed</targetReference>
            </connector>
            <label>Go to Departure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Can_Complete</name>
        <label>Can Complete</label>
        <locationX>1832</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Why_not_complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot Complete</defaultConnectorLabel>
        <rules>
            <name>CompleteFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientIsPresent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ThirdPartyPresent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leaveatdoor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>With_Signature</targetReference>
            </connector>
            <label>Can Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_PickUp_Piece_Entry</name>
        <label>Copy 1 of PickUp Piece Entry</label>
        <locationX>336</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PickUp</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_PickUp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PickUp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Pickup_Piece_Counts</targetReference>
            </connector>
            <label>Copy 1 of PickUp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_With_Signature</name>
        <label>Copy 1 of With Signature</label>
        <locationX>94</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Photo_Capture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Photo</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Complete_with_signature</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clientispresent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Complete_Appointment</targetReference>
            </connector>
            <label>Copy 1 of Complete with signature</label>
        </rules>
        <rules>
            <name>Copy_1_of_Complete_with_Third_party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ThirdPartypresent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Who_accepted_the_delivery</targetReference>
            </connector>
            <label>Copy 1 of Complete with Third party</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Can_Complete</name>
        <label>Copy 2 of Can Complete</label>
        <locationX>336</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Why_not_complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot Complete</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Can_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClientIsPresent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_2_of_AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ThirdPartyPresent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_2_of_AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leaveatdoor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_With_Signature</targetReference>
            </connector>
            <label>Copy 1 of Can Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Departed_Or_Not</name>
        <label>Departed Or Not</label>
        <locationX>1590</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Depart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go to Departure</defaultConnectorLabel>
        <rules>
            <name>Already_Departed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordDepart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Departed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_already_departed</name>
        <label>Have already departed?</label>
        <locationX>847</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Depart3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go to Departure</defaultConnectorLabel>
        <rules>
            <name>Has_already_departed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordDepart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_have_completed_the_appointment</targetReference>
            </connector>
            <label>Has already departed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PickUp_Piece_Entry</name>
        <label>PickUp Piece Entry</label>
        <locationX>1832</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PickUp</defaultConnectorLabel>
        <rules>
            <name>PickUp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PickUp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pickup_Piece_Counts</targetReference>
            </connector>
            <label>PickUp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redo_Decision</name>
        <label>Redo Decision</label>
        <locationX>589</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Redo_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RedoOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RedoAppointment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Appointment</targetReference>
            </connector>
            <label>Redo Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_Signature</name>
        <label>With Signature</label>
        <locationX>1590</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Photo_Capture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Photo</defaultConnectorLabel>
        <rules>
            <name>Complete_with_signature</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clientispresent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Appointment</targetReference>
            </connector>
            <label>Complete with signature</label>
        </rules>
        <rules>
            <name>Complete_with_Third_party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ThirdPartypresent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_accepted_the_delivery</targetReference>
            </connector>
            <label>Complete with Third party</label>
        </rules>
    </decisions>
    <description>Update service appointment status on redo</description>
    <dynamicChoiceSets>
        <name>AppointmentStatusPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Appointment_Status__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ApptHeaderText</name>
        <dataType>String</dataType>
        <expression>{!AccountName} + &quot; &quot; + {!ReceivedFrom}</expression>
    </formulas>
    <interviewLabel>Appointment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>1339</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ApptHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_arrival</name>
        <label>Get arrival</label>
        <locationX>1339</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordApptStatus</assignToReference>
            <field>Appointment_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordArrival</assignToReference>
            <field>Arrival__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordDepart</assignToReference>
            <field>Departure__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NotesFromRecord</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PieceCount</assignToReference>
            <field>Piece_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReceivedFrom</assignToReference>
            <field>Received_From__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkType</assignToReference>
            <field>Work_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Arrival</name>
        <label>Arrival</label>
        <locationX>1427</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arrival__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Cannot_Complete_Appointment</name>
        <label>Cannot Complete Appointment</label>
        <locationX>2074</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Cannot_Complete_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Appointment</name>
        <label>Clear Appointment</label>
        <locationX>336</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Copy_1_of_PickUp_Piece_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Appointment</name>
        <label>Complete Appointment</label>
        <locationX>1590</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Complete_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Service_Appointment</name>
        <label>Complete Service Appointment</label>
        <locationX>1590</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Departed_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Cannot_Complete_Appointment</name>
        <label>Copy 1 of Cannot Complete Appointment</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Copy_2_of_Complete_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Copy_1_of_Cannot_Complete_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Complete_Appointment</name>
        <label>Copy 1 of Complete Appointment</label>
        <locationX>94</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Copy_1_of_Complete_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Complete_Service_Appointment</name>
        <label>Copy 1 of Complete Service Appointment</label>
        <locationX>94</locationX>
        <locationY>2870</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Pieces_Packed</name>
        <label>Copy 1 of Set Pieces Packed</label>
        <locationX>204</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Copy_1_of_Set_Piece_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Boxes_Layflats_Used__c</field>
            <value>
                <elementReference>Copy_1_of_Layflats_Packed_On_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boxes_Magnums_Used__c</field>
            <value>
                <elementReference>Copy_1_of_Magnums_Packed_On_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boxes_Pre_Packed__c</field>
            <value>
                <elementReference>Copy_1_of_Pre_Packed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boxes_Uprights__c</field>
            <value>
                <elementReference>Copy_1_of_Uprights_Packed_On_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pallets_Picked_Up__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Third_party</name>
        <label>Copy 1 of Set Third party</label>
        <locationX>50</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Copy_1_of_Complete_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Third_Party__c</field>
            <value>
                <elementReference>Copy_1_of_Third_Party_Option</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Complete_Service_Appointment</name>
        <label>Copy 2 of Complete Service Appointment</label>
        <locationX>578</locationX>
        <locationY>2570</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Set_Service_Appointment_Piece_Count</name>
        <label>Copy 2 of Set Service Appointment Piece Count</label>
        <locationX>336</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Copy_2_of_Can_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Piece_Count__c</field>
            <value>
                <elementReference>Copy_1_of_Piece_Count_change_if_different</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Set_Status</name>
        <label>Copy 2 of Set Status</label>
        <locationX>336</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Copy_2_of_Set_Service_Appointment_Piece_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Status__c</field>
            <value>
                <elementReference>Copy_2_of_AppointmentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Copy_1_of_Notes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Piece_Count__c</field>
            <value>
                <elementReference>Copy_1_of_Piece_Count_change_if_different</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Depart</name>
        <label>Depart</label>
        <locationX>1722</locationX>
        <locationY>2654</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Depart2</name>
        <label>Depart2</label>
        <locationX>2074</locationX>
        <locationY>2246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Depart3</name>
        <label>Depart3</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pieces_Packed</name>
        <label>Set Pieces Packed</label>
        <locationX>1700</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Set_Piece_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Boxes_Layflats_Used__c</field>
            <value>
                <elementReference>Layflats_Packed_On_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boxes_Magnums_Used__c</field>
            <value>
                <elementReference>Magnums_Packed_On_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boxes_Pre_Packed__c</field>
            <value>
                <elementReference>Pre_Packed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boxes_Uprights__c</field>
            <value>
                <elementReference>Uprights_Packed_On_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pallets_Picked_Up__c</field>
            <value>
                <elementReference>Pallets_Picked_Up_On_Site</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Service_Appointment_In_Progress</name>
        <label>Set Service Appointment In Progress</label>
        <locationX>1427</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Already_completed_appt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Service_Appointment_Piece_Count</name>
        <label>Set Service Appointment Piece Count</label>
        <locationX>1832</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Can_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Piece_Count__c</field>
            <value>
                <elementReference>Piece_Count_change_if_different</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>1832</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Piece_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Status__c</field>
            <value>
                <elementReference>AppointmentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Piece_Count__c</field>
            <value>
                <elementReference>Piece_Count_change_if_different</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Third_party</name>
        <label>Set Third party</label>
        <locationX>1546</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Complete_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Third_Party__c</field>
            <value>
                <elementReference>Third_Party_Option</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>2074</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Depart2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Appointment</name>
        <label>Appointment</label>
        <locationX>1832</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AppointmentStatus</name>
            <choiceReferences>AppointmentStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AppointmentStatus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NotesFromRecord</elementReference>
            </defaultValue>
            <fieldText>Notes for BOL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Piece_Count_change_if_different</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PieceCount</elementReference>
            </defaultValue>
            <fieldText>Piece Count (change if different)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Photo_Capture</name>
        <label>Copy 1 of Photo Capture</label>
        <locationX>314</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Complete_Appointment</targetReference>
        </connector>
        <fields>
            <name>Header8</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Photo_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Pickup_Piece_Counts</name>
        <label>Copy 1 of Pickup Piece Counts</label>
        <locationX>204</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Set_Pieces_Packed</targetReference>
        </connector>
        <fields>
            <name>Header9</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Pre_Packed</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Pre-Packed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Uprights_Packed_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Uprights Packed On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Layflats_Packed_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Layflats Packed On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Magnums_Packed_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Magnums Packed On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Pallets_Picked_Up_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Pallets Picked Up On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Why_not_complete</name>
        <label>Copy 1 of Why not complete</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Cannot_Complete_Appointment</targetReference>
        </connector>
        <fields>
            <name>Header7</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Cannot_Complete_Reason</name>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Appointment</name>
        <label>Copy 2 of Appointment</label>
        <locationX>336</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Set_Status</targetReference>
        </connector>
        <fields>
            <name>Header10</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_AppointmentStatus</name>
            <choiceReferences>AppointmentStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AppointmentStatus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Notes2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NotesFromRecord</elementReference>
            </defaultValue>
            <fieldText>Notes for BOL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Piece_Count_change_if_different</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PieceCount</elementReference>
            </defaultValue>
            <fieldText>Piece Count (change if different)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Who_accepted_the_delivery</name>
        <label>Copy 2 of Who accepted the delivery?</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Set_Third_party</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Third_Party_Option</name>
            <choiceReferences>Doorman</choiceReferences>
            <choiceReferences>Employee_store_restaurant</choiceReferences>
            <choiceReferences>Concierge</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Doorman</defaultSelectedChoiceReference>
            <fieldText>Third Party</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Photo_Capture</name>
        <label>Photo Capture</label>
        <locationX>1810</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Appointment</targetReference>
        </connector>
        <fields>
            <name>Header5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Photo_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pickup_Piece_Counts</name>
        <label>Pickup Piece Counts</label>
        <locationX>1700</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Pieces_Packed</targetReference>
        </connector>
        <fields>
            <name>Header0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pre_Packed</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Pre-Packed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Uprights_Packed_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Uprights Packed On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Layflats_Packed_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Layflats Packed On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Magnums_Packed_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Magnums Packed On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Pallets_Picked_Up_On_Site</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Pallets Picked Up On-Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Who_accepted_the_delivery</name>
        <label>Who accepted the delivery?</label>
        <locationX>1546</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Third_party</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Third_Party_Option</name>
            <choiceReferences>Doorman</choiceReferences>
            <choiceReferences>Employee_store_restaurant</choiceReferences>
            <choiceReferences>Concierge</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Doorman</defaultSelectedChoiceReference>
            <fieldText>Third Party</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Why_not_complete</name>
        <label>Why not complete</label>
        <locationX>2074</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cannot_Complete_Appointment</targetReference>
        </connector>
        <fields>
            <name>Header4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!ApptHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cannot_Complete_Reason</name>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_have_completed_the_appointment</name>
        <label>You have completed the appointment</label>
        <locationX>589</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redo_Decision</targetReference>
        </connector>
        <fields>
            <name>Redo_Notice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You have completed the appointment {!ApptHeader}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To redo the appointment, choose the option below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RedoOptions</name>
            <choiceReferences>RedoAppointment</choiceReferences>
            <choiceReferences>Exit</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Exit</defaultSelectedChoiceReference>
            <fieldText>RedoOptions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1213</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_arrival</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApptHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Test default</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotesFromRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PieceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ReceivedFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordApptStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordArrival</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordDepart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Redo</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
